.header {
    grid-area: hd;
}

.footer {
    grid-area: ft;
}

.content {
    grid-area: main;
}

.sidebar {
    grid-area: sd;
    border: 1px solid;
}

.rigthbar {
    grid-area: rb;
}

.conteiner {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-auto-rows: minmax(100px, auto);
    grid-template-areas:
        "hd hd hd hd hd hd hd rb rb"
        "sd sd sd main main main main rb rb"
        "ft ft ft ft ft ft ft rb rb"
}