.posicionamento {
    display: grid;
    grid-template-columns: 2fr repeat(2, 1fr) 100px;
}

.posicionamento2 {
    display: grid;
    grid-template-columns: repeat(3, 1fr 2fr);
    /*grid-template-rows: 1fr 2fr 1fr;*/
    grid-auto-rows: 100px;
}

#galeria {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1px;
}

.conteiner {
    align-self: center;
    justify-self: center;
    text-align: center;
    padding: 5px;
    height: 385px;
    width: 315px;
}

.imagem {
    width: 300px; 
    
}

#galeria > div {
    border: 1px solid
}